<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.coursemanagament" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="报课系统"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity android:name=".ActivityLogin.Login" >


        </activity>
        <activity android:name=".ActivityDepartment.CourseDepartment" >
        </activity>
        <activity android:name=".ActivityDepartment.Export" >
        </activity>
        <activity android:name=".ActivityDepartment.MajorList" >
        </activity>
        <activity android:name=".ActivityDepartment.SumCourseList_XXX" >
        </activity>
        <activity android:name=".ActivityDepartment.SummaryTable" >
        </activity>
        <activity android:name=".ActivityDepartment.TaskList" >
        </activity>
        <activity android:name=".ActivityDepartment.TeacherList" >
        </activity>
        <activity android:name=".ActivityTeacher.CourseDeclare" >

        </activity>
        <activity android:name=".ActivityTeacher.CourseResultInfo" >
        </activity>
        <activity android:name=".ActivityTeacher.CourseResultList_XXX" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.TaskManage.TaskManage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ActivityTeachingOffice.TaskManage.CourseRelease" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.TaskManage.CourseCheck" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.TaskManage.CourseAdd" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.TaskManage.CourseInfo" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.UserManage.BatchImport" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.UserManage.DepartmentAdd" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.UserManage.DepartmentInfo" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.UserManage.DepartmentList" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.UserManage.SingleImport" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.UserManage.TeacherInfo" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.UserManage.TeacherList" >
        </activity>
        <activity android:name=".ActivityTeachingOffice.UserManage.UserManage" >

        </activity>
        <activity android:name=".ActivityTeachingOffice.PasswordChange" >
        </activity>
        <activity android:name=".ActivityTeacher.PasswordChange1" >
        </activity>
    </application>

</manifest>
